<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Currency</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            padding-top: 50px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div>
        <h1>Coming Soon</h1><!--
        <h3>What to know what currency a country uses?</h3>
        <form id="locationForm" method=" = " post">
            <label for="location">Enter the country name:</label>
            <input type="text" id="country" name="country">
            <button type="submit">Submit</button>
        </form>
        <h3> Or maybe you know the name of the currency but not where it's from?</h3>
        <form id="locationForm" method=" = " post">
            <label for="location">Enter the currency name:</label>
            <input type="text" id="currency" name="currency">
            <button type="submit">Submit</button>
        </form>
        @if (!string.IsNullOrEmpty(ViewBag.Location))
        {
            <p>Your location: @ViewBag.Location</p>
        }-->
    </div>
</body>
</html>